#stade-show{
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    h1 {
      margin: 0;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
    }

    p {
      font-size: 20px;
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
  }

  .grid-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0 32px;

    span{
      font-size: 18px;
      font-weight: bold;

      padding: 12px 0;

      i{
        margin-right: 8px;
      }

      a{
        color: black;
      }
    }
  }
}
