<body>
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <div class="responsive-container-block leftSide">
      <p class="text-blk heading">
        Meet Our Creative Team
      </p>
      <p class="text-blk subHeading">
       We are a vibrant team consisting of Ayoub, Yousra, Anis, and Nouhaila, each contributing our distinct talents and perspectives to our endeavors. Together, we've dedicated ourselves to realizing our project, navigating challenges with determination and celebrating our achievements. Our collaboration fuels our progress, and we eagerly anticipate the journey ahead as we continue to innovate and grow together.
      </p>
    </div>
    <div class="responsive-container-block rightSide">
      <img class="number1img" src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707219105/nouhailaaaaa_xubz8e.jpg">
      <img class="number2img" src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707226972/PDP_MYWAY_1_ipdcjs.jpg">
      <img class="number7img" src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707218989/youcyyyyyyyyy_ujbhli.jpg">
      <img class="number6img" src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707229770/11268767-5E9B-47E7-BC89-12105ACDF131_1_rmyodf.jpg">
    </div>
    <div class="responsive-container-block bottomImages">
  <img class="number3img" src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707304181/jobintech_swlb8d.png">
  <img class="number4img" src="https://res.cloudinary.com/dw39u26vq/image/upload/v1707304205/le-wagon-morocco_setbmq.jpg">
  <p class= "jobintech">
  We extend our heartfelt gratitude to Jobintech and Le Wagon for their generous sponsorship of our bootcamp. Their unwavering support and belief in our potential have been instrumental in making this journey possible. With their sponsorship, we've been able to access invaluable resources, mentorship, and opportunities for growth. We are truly grateful for their commitment to nurturing talent and empowering aspiring individuals like us. Thank you, Jobintech and Le Wagon, for investing in our future and for being integral partners in our success story.
  </p>
</div>
  </div>
</div>
<div class="spinner-container">
  <div class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>
<body>
