.logo__container {
  height: 40px;
  // width: 200px;
  img {
    width: 90px !important;
    object-fit: cover !important;
    margin-top: -22px !important;
    margin-left: -10px !important;
  }
}
.nav-link {
  font-family: Poppins;
  font-weight: 800 !important;
  color: white !important;
  font-size: 18px;
}
.dropdown {
  margin-left: 24px;
}
.navbar-lewagon {
  justify-content: space-between;
  background: black;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100%;
}
